.wrapper {
    max-width: 100%;
    margin: 0 auto;
}

@media screen and (min-width: 800px) {

    .wrapper {
        max-width: 90%;
    }

    header, footer {
        width: 100%;
    }

    nav, main {
        float: left;
    }

    nav {
        width: 20.83333%;
        margin-right: 1.041667%;
    }

    main {
        width: 78.125%;
    }

    footer {
        clear: both;
    }

}

@media screen and (min-width: 1000px) {

    .wrapper {
        max-width: 66.66667%;
    }

}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: black;
    text-align: left;
    margin: 0;
}

header,
nav,
main,
footer {
    border: 1px solid black;
    margin-bottom: 10px;
    border-radius: 3px;
}

header, footer {
    padding: 20px 0;
}

nav, main {
    padding: 10px 0;
}

h1 {
	text-align: center;
}

header {
    background-image: url("image/banner.jpg");
}
